.App {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.square {
  width: 60px;
  height: 60px; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.piece {
  cursor: pointer;
  font-size: 2em;
}

.chessboard {
  display: grid;
  grid-template-columns: repeat(8, 60px);
  grid-template-rows: repeat(8, 60px);
}